nav {
    width: 98%;
    background-color: #2d2d2d;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #a79aff;
}

nav a {
    text-align: left;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.logout-btn {
    background-color: #d9534f;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #b52b27;
}
